---
title: Creative Web Solutions
seotitle: Web Development and Design by Cody Saylor
description: Website design and development and other creative web solutions. Check out the web apps, sites, and other projects I've worked on.

services:
  - title: Website Design &amp; Development
    desc: "From help installing WordPress to custom website experiences using industry standards, I've got you covered."
    color: "blue darken-4"

  - title: Website
    desc: "Express your idea, product, or service through motion to engage your audience and help tell your story."
    color: "blue darken-3"

  - title: Photography
    desc: "Capture the perfect event, celebration, or other important moment in time or help promote your brand through stunning photography and photo editing."
    color: "blue darken-2"

  - title: Custom Email Marketing
    desc: "Email marketing can help you reengage with your customers and grow your business. Let me help craft the perfect message."
    color: "blue darken-1"

  - title: Search Engine Marketing
    desc: "Spread your product through organic and paid ads with Google Adwords, Bing Ads, and alternative methods."
    color: "blue"

  - title: Graphic Design
    desc: "Standout from the crowd through original graphic design or photo editing and manipulation. I will help you create the brand you want to represent your business."
    color: "blue lighten-1"
---
<article style="color: #212121;">
  <section style="background: white; color: #212121;">
    <div id="work" class="divider" style="background: white;"></div>
    <section class="scene-element section home">
      <div class="container">
        <div class="row">
          <div class="grid projects">
            {% assign sorted = (site.projects | sort: 'rank') %}
            {% for project in sorted %}
            <div class="col s12 m6 l4 grid-item {{ project.type }}">
              <a href="{{ project.url }}" class="">
                <div class="card hoverable">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img src="{{ project.thumb }}">
                  </div>
                  <div class="card-content center-align grey darken-4 white-text">
                    <h3 class="truncate" style="line-height: 1.2;">{{ project.title }}</h3>
                    <p class="truncate">{{ project.subtitle }}</p>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="center-align">
          <h4>View More</h4>
          <a href="https://github.com/codysaylor" rel="nofollow" target="_blank" class="waves-effect waves-light btn light-blue darken-4 btn-large hoverable"><i class="material-icons right">code</i>Github</a>
        </div>
      </div>
    </section>
<!--    <section class="section container"><div id="services" class="divider"></div></section>
    <section class="scene-element section">
      <div class="container">
        <h2>Services</h2>
        <div class="row grid">
          {% for service in page.services %}
          <div class="grid-item col s12 m4">
            <div class="card-panel {{ service.color }}">
              <div class="card-title white-text">{{ service.title }}</div>
              <span class="white-text">{{ service.desc }}</span>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
-->
    <section class="section container home"><div id="about" class="divider"></div></section>
    <section class="scene-element section home">
      <div class="container">
        <h2>About</h2>
        <div class="row">
          <div class="col s12 m7 l8 xl9">
            <p class="flow-text">I'm a <b>Web Developer</b> for Ohio University and have a passion for making the web more accessible, immersive, and enjoyable. The design should never be a barrier.</p>
            <div class="center-align"><a href="https://docs.google.com/document/d/1-wrGC53w_E3RdIeoP1fhrkKWOeKU2IHPNU4ifnLuD30/export?format=pdf" target="_blank" rel="nofollow" class="waves-effect waves-light btn light-blue darken-4 btn-large hoverable"><i class="material-icons right" style="margin-left: 5px; font-size: 1.3em;">file_download</i>Resume</a></div>
          </div>
          <div class="col s12 m5 l4 xl3">
            <img src="/assets/codysaylor.png" alt="Cody Saylor">
            <p class="flow-text"><i class="material-icons right">email</i>contact@codysaylor.com<br><i class="material-icons right">phone</i>740.229.9877</p>
          </div>
        </div>
      </div>
    </section>
  </section>
</article>
