  </div>
  <footer class="page-footer grey darken-4 center-align">
    <div class="container">
      <div class="row">
        <div class="col s4"><h5 class="grey-text">WEB</h5></div> <div class="col s4"><h5 class="grey-text">MOTION</h5></div> <div class="col s4"><h5 class="grey-text">DESIGN</h5></div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="center-align">
          <a href="/" class="grey-text router-link-active">Cody Saylor</a>
        </div>
      </div>
    </div>
  </footer>
  <script>
    $(document).ready(function(){
      // Register service worker
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('{{ site.url }}{{ site.baseurl }}/sw.js')
          .then(function() {
            console.log('Service worker registered');
          });
      }
      // Analytics
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-40605352-15', 'auto');
      ga('require', 'cleanUrlTracker');
      ga('require', 'eventTracker');
      ga('require', 'impressionTracker');
      ga('require', 'maxScrollTracker');
      ga('require', 'mediaQueryTracker');
      ga('require', 'outboundFormTracker');
      ga('require', 'outboundLinkTracker');
      ga('require', 'pageVisibilityTracker');
      ga('require', 'socialWidgetTracker');
      ga('require', 'urlChangeTracker');
      ga('send', 'pageview');

      $(".button-collapse").sideNav();
      $('ul.tabs').tabs();

      $('.grid').imagesLoaded( function() {
        $('.grid').isotope({
          itemSelector: '.grid-item',
        });
        $('.materialboxed').materialbox();
      });
      $('.tabs').on( 'click', 'a', function(e) {
        e.preventDefault();
        var filter = $(this).attr('data-sort-by');
        $('.grid.projects').isotope({ filter: filter });
      });

      // Smooth scroll
      // Select all links with hashes
      $('a[href*="#"]')
        // Remove links that don't actually link to anything
        .not('[href="#"]')
        .not('[href="#0"]')
        .click(function(event) {
          // On-page links
          if (
            location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
            &&
            location.hostname == this.hostname
          ) {
            $(".button-collapse").sideNav('hide');
            // Figure out element to scroll to
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            // Does a scroll target exist?
            if (target.length) {
              // Only prevent default if animation is actually gonna happen
              // event.preventDefault();
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 1000, function() {
                // Callback after animation
                // Must change focus!
                var $target = $(target);
                $target.focus();
                if ($target.is(":focus")) { // Checking if the target was focused
                  return false;
                } else {
                  $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
                  $target.focus(); // Set focus again
                };
              });
            }
          }
        });
      'use strict';
      var $page = $('#main'),
          options = {
            debug: true,
            prefetch: true,
            cacheLength: 2,
            onStart: {
              duration: 600, // Duration of our animation
              render: function ($container) {
                // Add your CSS animation reversing class
                $container.addClass('is-exiting');
                // Restart your animation
                smoothState.restartCSSAnimations();
                $('.button-collapse').sideNav('hide');
              }
            },
            onReady: {
              duration: 0,
              render: function ($container, $newContent) {
                // Remove your CSS animation reversing class
                $container.removeClass('is-exiting');
                // Inject the new content
                $container.html($newContent);
                // Scroll to top of page
                var target = window.location.hash;
                if (target) {
                  $('html, body').animate({
                    scrollTop: $(target).offset().top
                  }, 1000);
                } else {
                  $('html, body').animate({ scrollTop: 0 }, 0);
                }
              }
            },
            onAfter: function($container, $newContent) {
              window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
              ga('create', 'UA-40605352-15', 'auto');
              ga('require', 'cleanUrlTracker');
              ga('require', 'eventTracker');
              ga('require', 'impressionTracker');
              ga('require', 'maxScrollTracker');
              ga('require', 'mediaQueryTracker');
              ga('require', 'outboundFormTracker');
              ga('require', 'outboundLinkTracker');
              ga('require', 'pageVisibilityTracker');
              ga('require', 'socialWidgetTracker');
              ga('require', 'urlChangeTracker');
              ga('send', 'pageview');

              $(".button-collapse").sideNav();
              $('ul.tabs').tabs();
              $('.grid').imagesLoaded( function() {
                $('.grid').isotope({
                  itemSelector: '.grid-item',
                });
                $('.materialboxed').materialbox();
              });
              $('.tabs').on( 'click', 'a', function(e) {
                e.preventDefault();
                var filter = $(this).attr('data-sort-by');
                $('.grid.projects').isotope({ filter: filter });
              });

              // Smooth scroll
              // Select all links with hashes
              $('a[href*="#"]')
                // Remove links that don't actually link to anything
                .not('[href="#"]')
                .not('[href="#0"]')
                .click(function(event) {
                  // On-page links
                  if (
                    location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                    &&
                    location.hostname == this.hostname
                  ) {
                    $(".button-collapse").sideNav('hide');
                    // Figure out element to scroll to
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    // Does a scroll target exist?
                    if (target.length) {
                      // Only prevent default if animation is actually gonna happen
                      // event.preventDefault();
                      $('html, body').animate({
                        scrollTop: target.offset().top
                      }, 1000, function() {
                        // Callback after animation
                        // Must change focus!
                        var $target = $(target);
                        $target.focus();
                        if ($target.is(":focus")) { // Checking if the target was focused
                          return false;
                        } else {
                          $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
                          $target.focus(); // Set focus again
                        };
                      });
                    }
                  }
                });
            }
          },
          smoothState = $page.smoothState(options).data('smoothState');
    });
  </script>
</body>
</html>
