<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="theme-color" content="#2f72c2">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if page.seotitle %}{{ page.seotitle }}{% else %}{{ page.title }}{% endif %}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="twitter:card" content="{{ page.description }}" />
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
  <meta property="og:title" content="{% if page.seotitle %}{{ page.seotitle }}{% else %}{{ page.title }}{% endif %}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:image" content="{{ page.thumb }}" />
  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
  <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/mfbwQgY.png">
  <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway:300,400|Material+Icons|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/style.css">
  <link rel="manifest" href="{{ site.url }}{{ site.baseurl }}/manifest.json">
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script async="" src="https://www.google-analytics.com/analytics.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/autotrack/2.3.0/autotrack.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothState.js/0.7.2/jquery.smoothState.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.4/isotope.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.2/imagesloaded.pkgd.min.js"></script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-1335786241529939",
      enable_page_level_ads: true
    });
  </script>
</head>
<body>
  <div id="main" class="m-scene">
    <nav class="light-blue darken-4">
      <div class="nav-wrapper container">
        <a href="{{ site.url }}{{ site.baseurl }}/" class="brand-logo"><img src="https://i.imgur.com/mfbwQgY.png" alt="">Cody Saylor</a> <a href="#" data-activates="mobile-drawer" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{{ site.url }}{{ site.baseurl }}/#work"><i class="material-icons right" style="margin: 0px; margin-left: 5px; font-size: 1.4em;">code</i>Work</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/#about">About<i class="material-icons" style="display: inline; margin-left: 6px; font-size: 1.4em; line-height: 1; position: relative; bottom: -4px;">person</i></a></li>
          <li><a href="{{ site.url }}/notes/"><i class="material-icons right" style="margin-left: 8px; font-size: 1.2em;">note</i> Notes</a></li>
        </ul>
        <ul id="mobile-drawer" class="side-nav" style="transform: translateX(-100%);">
          <li><div class="userView"><div class="userbackground"></div> <a href="#!user"><img src="https://avatars2.githubusercontent.com/u/6446411?v=3&amp;s=460" class="circle"> <span class="grey-text text-darken-4 name"><b>Cody Saylor</b></span></a> <span class="grey-text text-darken-4 email">contact@codysaylor.com</span></div></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/#work"><i class="material-icons right">code</i>Work</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/#about"><i class="material-icons right">person</i>About</a></li>
          <li><a href="{{ site.url }}/notes/"><i class="material-icons right">note</i>Notes</a></li>
          <li><a href="https://docs.google.com/document/d/1-wrGC53w_E3RdIeoP1fhrkKWOeKU2IHPNU4ifnLuD30/export?format=pdf" target="_blank"><i class="material-icons right">file_download</i>Resume</a></li>
        </ul>
      </div>
    </nav>
