---
title: Royalty Free Music &amp; Sound Effects
seotitle: List of Sites For Royalty Free Music and Sound Effects
description: View these sites for awesome royalty free music and sound effects in your next video project.
thumb: https://i.imgur.com/65TLYsZ.jpg

musics:
  - title: Youtube
    desc: "That's right, Youtube's new audio library is specifically designed for creators in mind of both video and music. So if you're looking to make a video with some free music, you can choose from the library. Although not many songs are in it right now, music makers can upload their work to add to the project."
    link: http://www.youtube.com/audiolibrary
    img: https://i.imgur.com/G0KHLMO.jpg
    alt: Royalty free music for videos and other projects
    type: Calm and easy for voice over and miscellaneous videos.

  - title: TheFatRat (On YouTube)
    desc: "TheFatRat is one of my new favorite resources for <em>some</em> royalty free music. Some of the songs do get caught by youtube's copyright detection system, however (since they're remixes)."
    link: https://www.youtube.com/user/ThisIsTheFatRat/videos
    img: https://i.imgur.com/hgRrQRr.jpg
    alt: TheFatRat royalty free music youtube channel
    type: Remix

  - title: Goblins From Mars
    desc: "Another great source of royalty free, creative commons dubstep is Goblins From Mars. You can listen to their stuff on YouTube and most of the videos have direct download links."
    link: https://www.youtube.com/channel/UC7r8TN-JGGrTyCmIJSShdkw
    img: https://i.imgur.com/vHefRYo.jpg
    alt: Goblins From Mars - Dubstep music for youtube videos
    type: Dubstep

  - title: Melody loops
    desc: "Melody loops is a very useful site to get music if you're looking for some background music that should be able to repeat for as long as you'd like it to. They offer some quality music, but they're not all free. There are some free songs, but others can cost anywhere from $5 to $10."
    link: http://www.melodyloops.com/music/free/
    img: https://i.imgur.com/ALtlnOU.png
    alt: Royalty free music for videos and other projects
    type: Varied, easy, background, loopable

  - title: Activity Music (On Youtube)
    desc: "Activity Music is another Youtube-based music channel that uploads upbeat genres like electro, dubsteb and hard dance, among others."
    link: http://www.youtube.com/user/ActivityMusic/videos
    img: https://i.imgur.com/LkM52Ez.jpg
    alt: Royalty free music for videos and other projects
    type: Dubstep, house, hard dance, electro, trance, other

  - title: Sound Cloud
    desc: "Soundcloud is a well-known HUB for musicians to create and share their work. While most of it is protected under copyright, some artists choose to let others use their music – sometimes under specific requirements like attribution. You can search Soundcloud for music licensed under creative commons so you can use it in your production."
    link: https://soundcloud.com/search/sounds?filter.license=to_use_commercially
    img: https://i.imgur.com/wSMV9a0.jpg
    alt: Royalty free music for videos and other projects
    type: Varied, searchable

  - title: Lino Rise
    desc: "Lino Rise, from Germany, offers his creative work for free on his website. These are intro songs that you'd want to use in a video or as a hook."
    link: http://www.free-intro-music.com/freeintro-music-download/
    img: https://i.imgur.com/yN3y5t0.png
    alt: Royalty free music for videos and other projects
    type: Varied, intro

  - title: Sound Click
    desc: "Sound Click has a long list of songs that you can buy, but also free ones that can be used commercially. Just click the license type dropdown and click creative commons before picking a song."
    link: http://www.soundclick.com/business/license_list.cfm
    img: https://i.imgur.com/EVydygj.png
    alt: Royalty free music for videos and other projects
    type: Varied

  - title: Premium beat
    desc: "Premium beat has a one time fee to enable you to use all of their tracks, both much and sound effects, forever with 100% copyright clear."
    link: http://www.premiumbeat.com/
    img: https://i.imgur.com/yim3AFj.png
    alt: Royalty free music for videos and other projects
    type: Varied

  - title: Sonnyboo
    desc: "Sonnyboo has royalty free tracks that are also free to download. However, the tracks are licensed under the Creative Commons by Attribution license."
    link: http://sonnyboo.com/music/music.htm
    img: https://i.imgur.com/IjzsEs7.jpg
    alt: Royalty free music for videos and other projects
    type: Varied

  - title: Public Domain 4U
    desc: "Public Domain 4U offers some good ol' public domain tracks. Being in the public domain, anyone can modify and use in any production, commercial or noncommercial."
    link: http://publicdomain4u.com/
    img: https://i.imgur.com/Q5MnC3Q.jpg
    alt: Royalty free music for videos and other projects
    type: Early 1900s, public domain, varied

  - title: Musopen
    desc: "Musopen offers a similar, public domain, music choices from composers such as Bach, Beethoven, Borodin and Schubert."
    link: https://musopen.org/music/
    img: https://i.imgur.com/9cyAiP3.jpg
    alt: Royalty free music for videos and other projects
    type: Public domain, old, varied

  - title: Free Soundtrack Music
    desc: "Free soundtrack music is like the other music curation sites, it's filterable by genre."
    link: http://www.freesoundtrackmusic.com/
    img: https://i.imgur.com/nsEiqNP.png
    alt: Royalty free music for videos and other projects
    type: Varied

  - title: Free Stock Music
    desc: "Free stock music offers 100% free production music for anything your little heart desires."
    link: http://www.freestockmusic.com/
    img: https://i.imgur.com/lxRWz4V.jpg
    alt: Royalty free music for videos and other projects
    type: Stock music, varied

  - title: Open Music Archive
    desc: "Josh Woodward offers creative commons &#8220;songs for people who like things.&#8221; I like things, don't you?"
    link: http://www.joshwoodward.com/
    img: https://i.imgur.com/Ijib7Va.jpg
    alt: Royalty free music for videos and other projects
    type: Varied

  - title: No Copyright Sound
    desc: "No Copyright Sound has a good selection of music to look through for your videos or other projects."
    link: https://www.youtube.com/user/NoCopyrightSounds/videos
    img: https://i.imgur.com/fIi8BJ0.jpg
    alt: Royalty free music for videos and other projects
    type: Varied

  - title: AudioPad (On Youtube)
    desc: "AudioPad offers a good selection of royalty free music on their Youtube page."
    link: https://www.youtube.com/user/AudioPad/videos
    img: https://i.imgur.com/oRQhASe.jpg
    alt: Royalty free music for videos and other projects
    type: Varied

  - title: Audio Blocks
    desc: "Audio Blocks has music, sound effects, and loops, but requires a subscription fee."
    link: https://www.audioblocks.com/
    img: https://i.imgur.com/wnxikhK.jpg
    alt: Royalty free music for videos and other projects
    type: Varied

  - title: Josh Woodward
    desc: "Josh Woodward offers creative commons &#8220;songs for people who like things.&#8221; I like things, don't you?"
    link: http://www.joshwoodward.com/
    img: https://i.imgur.com/Ijib7Va.jpg
    alt: Royalty free music for videos and other projects
    type: Varied

  - title: Jonathan Coulton
    desc: "From the guy who brought you Re: Your Brains, Jonathan Coulton offers his music on his website for free/cheap download."
    link: http://www.jonathancoulton.com/store/downloads/
    img: https://i.imgur.com/eLwvuB5.png
    alt: Royalty free music for videos and other projects
    type: Varied, fun

  - title: Moby Gratis
    desc: "Moby Gratis is a composer who makes music with independent filmmakers in mind."
    link: http://www.mobygratis.com/catalog
    img: https://i.imgur.com/xwKxwQw.png
    alt: Royalty free music for videos and other projects
    type: Cinematic

  - title: Free Music Archive
    desc: "Free Music Archive has a nice curation of content that can be filtered by genre or curator."
    link: http://freemusicarchive.org/
    img: https://i.imgur.com/zZeIR63.png
    alt: Royalty free music for videos and other projects
    type: Varied

  - title: iStockPhoto
    desc: "iStockPhoto isn't only for photos. It also features illustrations, video and audio."
    link: http://www.istockphoto.com/
    img: https://i.imgur.com/eTvnTZh.jpg
    alt: Royalty free music for videos and other projects
    type: Varied

  - title: Audio Nectar
    desc: "Audio Nectar has free music that can be filtered by categories. Much of their royalty free music is pleasant and fun sounding."
    link: http://www.audionectar.com/
    img: https://i.imgur.com/UjdUpi1.jpg
    alt: Royalty free music for videos and other projects
    type: Varied, fun

  - title: Machinimasound
    desc: "Machinimasound has songs that they encourage people to use in their machinimas (machinima = a portmanteau of machine and cinema)."
    link: https://machinimasound.com/music
    img: https://i.imgur.com/2C0yBOD.jpg
    alt: Royalty free music for videos and other projects
    type: Varied, epic

  - title: Smart Sound + Incompetech
    desc: "This little tool lets you pick some music from Incompetech, but filter it by how long your video is in intervals of small amounts of time. The tracks were created at different durations knowing that people might be using them to make intros or other short videos."
    link: http://www.smartsound.com/royalty-free-music/incompetech/
    img: https://i.imgur.com/BP2nqpp.png
    alt: Royalty free music for videos and other projects
    type: Varied

  - title: Danosongs
    desc: "Danosongs has been around for a while. It's just one guy who makes music that you can use royalty free, so you should donate so he can continue it."
    link: http://www.danosongs.com/
    img: https://i.imgur.com/QrN4Wuk.png
    alt: Royalty free music for videos and other projects
    type: Varied

  - title: Free Play Music
    desc: "Targeted towards Youtube videos, Free Play Music has a nice selection of tracks to pick from."
    link: http://freeplaymusic.com/
    img: https://i.imgur.com/DADTidF.jpg
    alt: Royalty free music for videos and other projects
    type: Varied

  - title: Jamendo
    desc: "Targeted towards Youtube videos, Jamendo offers over 400,000 tracks, but they do cost some money. They won't break the bank, so they could be a viable option."
    link: http://www.jamendo.com/en/
    img: https://i.imgur.com/OYdwGK2.jpg
    alt: Royalty free music for videos and other projects
    type: Varied

  - title: Dig CC Mixter
    desc: "Targeted towards Youtube videos, Dig CC Mixter can sort some music options with commercial use and for what medium you're using it for."
    link: http://dig.ccmixter.org/free?limit=50
    img: https://i.imgur.com/8Kuig9V.png
    alt: Royalty free music for videos and other projects
    type: Coffee shop, podcast, video, etc.

  - title: Jamie Nord Music
    desc: "Targeted towards Youtube videos, Jamie Nord offers some nice music on the condition that you link back to their website."
    link: http://www.youtube.com/user/JamieNordMusic/videos
    img: https://i.imgur.com/BDAuhrK.jpg
    alt: Royalty free music for videos and other projects
    type: Varied, celtic, electronic, happy

  - title: Pau Mateo
    desc: "Pau Mateo has some nice music that you can download on Soundcloud."
    link: http://soundcloud.com/fateuser
    img: https://i.imgur.com/mGwrEiE.jpg
    alt: Royalty free music for videos and other projects
    type: Calm

  - title: Purple Planet
    desc: "Purple Planet lets you use their music if you link back to their site."
    link: http://www.purple-planet.com/
    img: https://i.imgur.com/qgtDAqi.jpg
    alt: Royalty free music for videos and other projects
    type: Varied

sounds:
  - title: Free Sound
    desc: "Search from a ton of sound effects based on any keyword at freesound.org."
    link: http://www.freesound.org/browse/tags/
    img: https://i.imgur.com/2771HRm.png
    alt: Royalty free music for videos and other projects
    type: Sound effects

  - title: Jojikiba (On Youtube)
    desc: "Jojikiba puts up sound effects that may be very useful in specific videos that need some extra soundscape such as an animation."
    link: http://www.youtube.com/user/Jojikiba/videos
    img: https://i.imgur.com/VTWSMzo.jpg
    alt: Royalty free music for videos and other projects
    type: Sound effects

  - title: PacDV
    desc: "PacDV has a bulk sound effects download available, but they ask that you attribute them by giving a link back to their site when you use their music."
    link: http://www.pacdv.com/sounds/free-music.html
    img: https://i.imgur.com/WmGgwZu.jpg
    alt: Royalty free music for videos and other projects
    type: Sound effects

  - title: Sound Snap
    desc: "Sound Snap has sound effects and some music. They offer a $249/year price for unlimited download; a bit pricey, but cheaper than hiring a specialist for sound design."
    link: http://www.soundsnap.com/
    img: https://i.imgur.com/ppmgHoY.jpg
    alt: Royalty free music for videos and other projects
    type: Sound effects, loops

  - title: Sound Bible
    desc: "Sound Bible has free sound clips, bites and effects."
    link: http://soundbible.com/
    img: https://i.imgur.com/MHyrbaf.jpg
    alt: Royalty free music for videos and other projects
    type: Sound effects

  - title: Sound Effects+
    desc: "Sound Effects Plus (previously Sound Jay) sound effects library is royalty free and costs nothing to you. But you can't take advantage of the creators by reselling them or other nonsense."
    link: http://www.soundeffectsplus.com/
    img: https://i.imgur.com/E0Z5pSX.jpg
    alt: Royalty free music for videos and other projects
    type: Sound effects

  - title: Find Sounds
    desc: "This useful search engine searches the web for different sound effects that you can further filter based on the format, channels, resolution and sample rate."
    link: http://findsounds.com/
    img: https://i.imgur.com/5hMO0YM.png
    alt: Royalty free music for videos and other projects
    type: Sound effects
---
<article>
  <section class="scene-element section">
    <div class="container">
      <p class="flow-text">Good music and sound design can make or break any video. If you've got good video, but bad audio, your video probably won't do as well as if you had great audio and mediocre video. It's vital to get the perfect audio track and sound effects in your video. However, it can be hard filtering through all the options there are available online, so I created a list of royalty free music, songs, and sound effects that you can use in your own production.</p>

      <p class="flow-text">The following is a collective list of all the sites I’ve found that offer music and sound effects for video production (home made youtube videos or more professional). They are in no specific order. Most of them are royalty free and require no attribution, but there are some that do require specific details, so be sure to read the licensing details for each site before you use it for commercial (or noncommerical) purposes.</p>

      <h2>Royalty Free Music</h2>

      <ul class="grid row isoItems">
        {% for music in page.musics %}
        <li class="grid-item col s12 m6 l4">
          <div class="card-panel">
            <a href="{{ music.link }}" rel="nofollow" target="_blank" class="card-title">{{ music.title }}</a>
            <p><a href="{{ music.link }}" rel="nofollow" target="_blank"><img src="{{ music.img }}" alt="{{ music.alt }}" /></a></p>
            <p>{{ music.desc }}</p>
            <p class="type">Style: {{ music.type }}</p>
          </div>
        </li>
        {% endfor %}
      </ul>

      <hr class="grid-item col s12 grey" />

      <h2 class="grid-item col s12">
        Royalty Free Sound Effects
      </h2>

      <p class="flow-text grid-item col s12">
        Sound effects play an important role in any video or audio production. They help immersify the viewer and make your video sound authentic. These sites offer royalty free sound effects for your youtube or professional video productions. Most of them are free and are a great resource to have.
      </p>

      <ul class="grid row isoItems">
        {% for sound in page.sounds %}
        <li class="grid-item col s12 m6 l4">
          <div class="card-panel">
            <a href="{{ sound.link }}" rel="nofollow" target="_blank" class="card-title">{{ sound.title }}</a>
            <p><a href="{{ sound.link }}" rel="nofollow" target="_blank"><img src="{{ sound.img }}" alt="{{ sound.alt }}" /></a></p>
            <p>{{ sound.desc }}</p>
            <p class="type">Style: {{ sound.type }}</p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</article>
